<% layout('layouts/boilerplate') %>
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <img src ="<%= campground.image %>" alt = "">
    <p><%=  campground.description %></p>
    <p> <a href="/campgrounds/<%=campground._id %>/edit">Edit</a>
    </p>
    <p>
    <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <!-- <form action="">
        <div class="mb-3">
            <label class="form-label" for="body">Review</label>
            <textarea  class="form-control"  name= "review[body]" id="body" cols="30"
        </div>
    </form> -->
    <footer>
        <a href="/campgrounds">All Campgrounds</a>
    </footer>
